
h2 {
  font-weight: normal;
  font-family: "Montserrat";
  font-size: 1.2em;
  color: white;
  display: inline-block;
  margin-top: 0.3em;
  margin-bottom: 0.0em;
  margin-left: 0.1em;
  margin-right: 0;
}

h3 {
  font-weight: normal;
  font-family: "Montserrat";
  font-size: 1.2em;
  color: black;
  display: inline-block;
  margin-top: 0.3em;
  margin-bottom: 0.0em;
  margin-left: 0.1em;
  margin-right: 0;
}

h4 {
  font-weight: normal;
  font-family: "Montserrat";
  font-size: 13px;
  color: black;
  padding: 5px;
  line-height: 16px;
}

h6 {
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 16px;
  color: black;
 }

/* Set map parameters */
#map {
  position: fixed;
  bottom: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
}

/* Set map parameters */
#chart {
  position: fixed;
  bottom: 0px;
  width: 25%;
  top: 0px;
  left:0px;
}

/* .container { */
  /* background-color: #fff; */
  /* border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  line-height: 18px;
  overflow: hidden;
  position: absolute;
  height: 100%; */
  /* left: 10px;
  width: 400px;
  bottom: 30px; */
  /*
} */

.svg-content {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  line-height: 18px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.svg-title {
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 16px;
  color: black;
}

.axis  {
  font-weight: normal;
  font-family: "Montserrat";
  color: black;
  font-size: 0.75em;
  height: 50%;
 }

 .title {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  line-height: 18px;
  padding: 10px;
  z-index: 0;
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  line-height: 18px;
  padding: 10px;
  bottom: 10px;
  position: absolute;
  left: 10px;
  width: 170px;
  z-index: 0;
}

.legend i {
  width: 50px;
  height: 18px;
  float: left;
  margin-right: 25px;
}